
/*
.body-container {
    display: flex;
    flex-wrap: wrap;
}
*/


.body-container div{

}


.body-container .restaurant {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 224, 183);
}

.body-container .restaurant p{
    max-width: 400px;
    line-height: 1.5rem;
    text-align: center;
}

.body-container .restaurant h1 {
    text-align: center;
}

.body-container .restaurant img{
    width: 100%;
}

.restaurant-photo {
    width: 100%;
    max-width: 800px;
    object-fit: cover;
    object-position: center;
}


.body-container .horaires {
    /*
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    */
    background-color: antiquewhite;
    font-weight: 500;
    padding: 40px 15px;
    height: auto;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}


.horaires-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    column-gap: 10%;
    row-gap: 20px;
    min-width: 20%;
}

.horaires-grid h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.horaires ul {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%; 
    align-items: center;
}

.horaires ul.jours {
    justify-items: center;
    height: 100%;
    row-gap: 30px;
}

.horaires ul.heures {
    justify-items: center;
    height: 100%;
    row-gap: 30px;
}








.body-container .right-side {
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 2;
    background-color: azure;
}

.body-container .main {
    flex-basis: 700px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: burlywood;
}


.right-side {
    padding: 20px; display: flex; flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 30px;
}

.parking {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: auto;
}

.main {
    padding: 20px;
}

.main h2 {
    padding-bottom: 20px;
}

.main div div {
    height: 300px;
    background-color: white;
}